body {
	background-color: lightgrey;
	text-align: center;
	font-family: arial;
}

.main {
	margin: 120px;
}
.text {
	background-color: white;
	padding: 30px;
	margin: 90px;
	/*width: 490px;*/
	height: 563px;
}

.words {
	color: lightgrey;
}

hr {
	width: 300px;
	background-color: darkgrey;
	border: none;
	height: 2px;
}

.button {
	padding: 10px;
	text-align: center;
	font-size: 16px;
	margin: 4px;
	border-radius: 50px;
	width: 320px;
}

.button1 { 
	border: none;
	background-color: rgb(212, 175, 123);
	color: white;
}
.button2 { 
	border-color: rgb(0, 0, 0);
	background-color: white;
	color: rgb(54, 47, 140); 

}

input[type=text] {
	font-family: arial;
	text-align: center;
	width: 40%;
	border: none;
	height: 15px;
}

.picture {
	font-family: arial;
	background-image: 
		linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),	
		url('image/building.png');
	background-repeat: no-repeat;
	float: right;	
	width: 297px; 
	height: 623px;
	color: white;
	background-color: transparent;
}

.button3 {
	background-color: transparent;
	color: white;
	border-color: white;
	padding: 7px;
	text-align: center;
	font-size: 16px;
	margin: 4px;
	border-radius: 50px;
	width: 110px;
}
